<main>
    <h1>Locales</h1>
    <form method="get" action="<%= searchPath %>" >
        <input type="text" id="query" name='query' placeholder="Ejemplo: Nombre gimnasio"></input>
        <input type='submit' value='Buscar' />
    </form>
    <div class="locals-container">
        <% if (localsApp.length > 0) {%>
            <% localsApp.forEach(local => {%>
            <section>
                <h2>
                    <%= local.name %>
                </h2>
                <p>
                    <%= local.ubicacion %>
                </p>
                <a href='<%= localPath(local.id) %>'>Ver más</a>
            </section>
            <% }) %>
        <% } else { %>
            <p>Busqueda invalida</p>
        <% } %>    
    </div>
    <div class="pre-footer">
        <a href='<%= index %>'>Home</a>
        <% if (locals.currentUser) { %>
        <a href='<%= viewLocals %>'>Ver suscripciones</a>
        <a href='<%= newLocalPath %>'>Crear nuevo local</a>
        <% } %>
    </div>
</main>