<div class="content-area">
    <div class="content-section-area">
        <div class="items-table">
            <h1 class="items-table">Informacion</h1>
            <div class="display-administrable">
                <div class="form-div">
                    <img src="<%= local.photo %>" width="250" height="300"/>
                </div>
                <div class="form-main">
                    <div class="form-div">
                        <form class="form" >
                            <p>Datos:</p>
                            <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" value="<%= local.name %>" id="name" readonly/>
                            <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" value="<%= local.ubicacion %>" id="name" readonly/>
                            <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" value="<%= local.horarioA %>" id="name" readonly/>
                            <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" value="<%= local.horarioC %>" id="name" readonly/>
                            <a href='<%= editLocalPath %>' class="btn-custom-act-profile">Actualizar local</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="display-table-button">
                <form method="post" action="<%= deleteLocalPath %>"><input type='submit' value='Eliminar' class="btn-custom-delete"/></form>
            </div>
        </div>
        <div class="items-table">
            <h1 class="items-table">Comentarios</h1>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th><p>Tipo</p></th>
                            <th><p>Comentario</p></th>
                            <th><p>-</p></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <% comms.forEach((coment) => { %>
                            <tr>
                                <td><%= coment.tipo %></td>
                                <td><%= coment.comentario %></td>
                                <td><form method="post" action="<%= deleteCommentPath(coment.id) %>"><input type="submit" value="Eliminar" class="btn-custom-delete"></input></form></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="content-section-area">
        <div class="items-table">
            <h1 class="items-table">Actividades</h1>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th><p>Nombre</p></th>
                            <th><p>Dificultad</p></th>
                            <th><p>Capacidad</p></th>
                            <th><p>Horario</p></th>
                            <th><p>-</p></th>
                            <th><p>-</p></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <% activitiesList.forEach((activity) => { %>
                            <tr>
                                <td><%= activity.name %></td>
                                <td><%= activity.dificulty %></td>
                                <td><%= activity.capacity %></td>
                                <td><%= activity.horarioI %><br><%= activity.horarioT %></td>
                                <td><a href="<%= editActivityPath(local.id, activity.id) %>" class="btn-custom-edit">Editar</a></td>
                                <td><form method="post" action="<%= deleteActivityPath(local.id, activity.id) %>"><input type="submit" value="Eliminar" class="btn-custom-delete"></input></form></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div class="display-table-button">
                <a href="<%= createActivitiesPath %>" class="btn-custom-create-activity">Crear actividad</a>
            </div>
        </div>
    </div>
</div>
