<main>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Dificultad</th>
            <th></th>
        </tr>
        <% userActivities.activities.forEach((activity) => { %>
            <tr>
                <td>
                    <%= activity.name %>
                </td>
                <td>
                    <%= activity.dificulty %>
                </td>
                <td>
                    <form method="post" action="<%= deleteSubsActPath(activity.id) %>"><input type="submit" value='Cancelar suscripcion' /></form>
                </td>
            </tr>
            <% }); %>
    </table>
    <form method="get" action="<%= profileUserPath %>">
        <input type='submit' value="Ir a mi perfil" />
    </form>
    <form method="get" action="<%= subscriptionLocalsPath %>">
        <input type='submit' value="Volver a locales suscritos" />
    </form>
</main>