<form method='post' action="<%= createRequestPath %>">
    <% if (locals.errors){ %>
        <div class='errors'>
            <p>El local no se pudo crear debido a los siguientes errores:</p>
            <ul>
                <% errors.forEach(error =>  { %>
                    <li>
                        <%= error.path%>:
                            <%= error.message %>
                    </li>
                    <% }) %>
            </ul>
        </div>
        <% } %>
            <div class='field'>
                <label for='tipo'>Tipo</label>
                <input type='text' id='tipo' name='tipo' value="<%= request.tipo %>" />
            </div>
            <div class='field'>
                <label for='comentario'>Comentario</label>
                <textarea name="comentario" id='comentario' cols="30" rows="4"></textarea>
            </div>
            <div>
                <select type='number' name='localId'>
                    <% locals.forEach((local) => { %>
                        <option value='<%= local.id %>'><%= local.name %></option>
                    <% }); %>
                </select>
            </div>
            <div class='actions'>
                <input type='submit' value='Crear' />
            </div>
</form>
<a href='<%= requestsPath %>'> Volver a página principal </a>