<main>

    <h1>Solicitudes</h1>
    <div class="locals-container">
        <% requests.forEach(request => { %>
            <section>
                <h2>
                    <%=request.tipo%>
                </h2>
                <p>Solicitud:
                    <%=request.comentario%>
                </p>
                <p>Local:
                    <%=localsNames[request.localId]%>
                </p>
                <a href='<%= requestPath(request.id) %>'>Ver más</a>

            </section>
            <% }) %>
    </div>

    <div class="pre-footer">
        <a href='<%= newRequestPath %>'>Crear nueva solicitud</a>
        <a href='<%= index %>'>Home</a>
    </div>

</main>