
<form method='post' action='<%= pathForm %>'>
    <% if (locals.errors){ %>
        <div class='errors'>
            <p>Error:</p>
            <ul>
            <% errors.forEach(error =>  { %>
                <li><%= error.path%>: <%= error.message %> </li>
            <% }) %>
            </ul>
        </div>
    <% } %>


    <div class='field'>
        Nombre: <input type='text' name='name' value='<%= user.name %>'/>
    </div>
    <div class='field'>
        Apellido: <input type='text' name='lastname' value='<%= user.lastname %>'/>
    </div>
    <div class='field'>
        Contraseña: <input type='text' name='password' value='<%= user.password %>'/>
    </div>
    <div class='field'>
        Número: <input type='text' name='phone' value='<%= user.phone %>'/>
    </div>
    <div class='field'>
        Fotografía: <input type='text' name='photo' value='<%= user.photo %>'/>
    </div>
    <div class='field'>
        Email: <input type='text' name='email' value='<%= user.email %>'/>
    </div>
    <br>
    <div class='actions'>
        <input type='submit' value='Sign up'/>
    </div>
</form>
