<p>LogIn? or SignUp?</p>
<br>
<a href="<%= logIn %>">LogIn</a>
<br>
<a href="<%= signUp %>">SignUp</a>
<br>
<a href="<%= subscribe %>">Inscribirse gym</a>
<br>
<a href="<%= activities %>">Inscribirse en una actividad</a>
<br>
<a href="<%= unsubscribeAct %>">Desinscribirse de una actividad</a>
<br>
<a href="<%= index %>">Home</a>