<main>
    <div class="options-container">
        <section>
            <a href="<%= logIn %>">LogIn</a>
        </section>
        <section>
            <a href="<%= signUp %>">SignUp</a>
        </section>
        <section>
            <a href="<%= subscribe %>">Inscribirse gym</a>
        </section>
        <section>
            <a href="<%= activities %>">Inscribirse en una actividad</a>
        </section>
        <section>
            <a href="<%= unsubscribeAct %>">Desinscribirse de una actividad</a>
        </section>
        <section>
            <a href="<%= index %>">Home</a>
        </section>
    </div>
</main>